.terraform/providers/registry.terraform.io/hashicorp/helm/2.17.0
.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.36.0
environments/dev/.terraform
environments/dev/.terraform.lock.hcl
terraform.tfstate
.terraform.lock.hcl
environments/dev/terraform.tfstate.1741669873.backup
environments/dev/terraform.tfstate.backup
.terraform/providers/registry.terraform.io/gavinbunney/kubectl/1.19.0/darwin_arm64
modules/external-dns/terraform.tfvars
environments/qa/.terraform
