apiVersion: v1
kind: Service
metadata:
  name: gitea-http
spec:
  selector:
    app: gitea
  ports:
    - name: http
      port: 80
      targetPort: 3000
      protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: gitea-ssh
spec:
  type: LoadBalancer
  selector:
    app: gitea
  ports:
    - name: ssh
      port: 22
      targetPort: 22
      protocol: TCP
