apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: linkding-ingress-qa
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    cert-manager.io/cluster-issuer: "letsencrypt-staging"
    external-dns.alpha.kubernetes.io/target: "188.151.43.194"
    external-dns.alpha.kubernetes.io/hostname: linkding-qa.lab.aminrj.com
    # external-dns.alpha.kubernetes.io/enabled: "true"
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - linkding-qa.lab.aminrj.com
      secretName: linkding-tls
  rules:
    - host: linkding-qa.lab.aminrj.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: linkding
                port:
                  number: 80
